      <div id="footer" class="ui-roundedbox"><div class="ui-roundedbox-corner ui-roundedbox-tl"><div class="ui-roundedbox-corner ui-roundedbox-tr"><div class="ui-roundedbox-corner ui-roundedbox-bl"><div class="ui-roundedbox-corner ui-roundedbox-br"><div class="ui-roundedbox-content">
                  <p>&copy; <span title="指纹库">2009</span> zhiwenku.com
                    <a href="http://www.miibeian.gov.cn" target="_blank" id="miibeian">粤ICP证030851号</a></p>
                  <a href="http://www.zhiwenku.com/about.html" target="_blank">关于指纹库</a> |
                  <a href="http://help.zhiwenku.com/faq.html" target="_blank">帮助</a> |
                  <a href="http://help.zhiwenku.com/privacy.html" target="_blank">隐私声明</a>|
                  <a href="http://www.zhiwenku.com/site.html" target="_blank">站点地图</a> </div></div></div></div></div></div>
    </div>